*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
  
/* ------ PROPIEDADES POR ETIQUETAS ----- */
:root {
  --clr-bg-light: #3b3b3b;
  --clr-bg-dark: #242424;
  --clr-text-gold: #ffd700;
 
}
html{
  height: 100%;
}

body{
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

/* ------ ESTRUCTURA GRID----- */

.grid_container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: #afd6af;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  display: flex;
}

.principal {
  grid-area: principal;
  background-color: #f5f5f5;
}

.sidebar {
  grid-area: sidebar;
  background-color: #85aedd;
}

.footer {
  grid-area: footer;
  background-color: #8c96a0;
}

 
.grid_container {
  display: grid;
  gap: 10px;
  grid-template:
   "header" 200px
   "sidebar" auto
   "principal" auto
   "footer" 200px /
   auto
  }
  
  /* ------ RESPONSIVE ----- */
  @media (min-width: 900px){
    .grid_container {
      grid-template:
     "header  header" 100px
     "sidebar principal" auto
     "footer  footer" 100px /
     200px    auto;
    }
  }

  /* ------ PROPIEDADES PARA EL NAV ----- */

  .container_logo a {
    height: 50px;
    width: 50px;
    line-height: 80px;
  }

  .nav {
    display: flex;
    justify-content: space-between; 
    max-width: 992px;
    margin: 0 auto;
  }

  .nav-link {
    color: white;
    text-decoration: none;
  }

  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }

  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }

  .nav-menu-item {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
  }
  .nav-menu-item:hover {
    background-color: green;
    transition: 0.5s;
  }

  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;

    display: none;
  }

/*  RESPONSIVE PARA CELULARES */

  @media (max-width: 768px) {
    flex-direction: column;
  }

  /* min 17:31 https://www.youtube.com/watch?v=xQstBIPeOdU */



/* FOOTER */

footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  padding-top: 1rem;
}

