*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
  
/* ------ PROPIEDADES POR ETIQUETAS ----- */
:root {
  --clr-bg-light: #3b3b3b;
  --clr-bg-dark: #242424;
  --clr-text-gold: #ffd700;
 
}


/* FOOTER */

footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  padding-top: 1rem;
}